<div class="day-recipe-list">
    <div class="breakfast meal-type" data-meal-type="breakfast">
        <h3>Breakfast</h3>
    </div>

    <div class="meal meal-type" data-meal-type="meal">
        <h3>Meals</h3>
    </div>

    <div class="fruit meal-type" data-meal-type="fruit">
        <h3>Fruit</h3>
    </div>

    <div class="snack meal-type" data-meal-type="snack">
        <h3>Snacks</h3>
    </div>
</div>
<hr>